body,html {
    margin: 0;
    padding: 0;
    background-color: #e3d5e7;
}

body {
    font-family: "Source Sans 3", sans-serif;
}

.hero {
    background-color: #7c109a;
    color: white;
    padding: 50px 30px;
    text-align: center;
    position: relative;
    margin-bottom: 15px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to left, rgb(172, 49, 225), #7c109a);
}

.hero::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to right, rgb(172, 49, 225), #7c109a);
}

.hero h1 {
    font-weight: normal;
    margin: 0;
    font-size: 3rem;
}

.hero h2 {
    font-size: 1.7rem;
    font-weight: normal; 
    margin: 0;
}

.filter-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-nav a {
    color: #7c109a;
    padding: 9px;
    margin: 4px;
    border: 1px solid #7c109a;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.filter-nav a:hover {
    background-color: #7c109a;
    color: white;
}

.filter-nav .active {
    background-color: #7c109a;
    color: white;
}

.filter-nav .active:hover {
    cursor: default;
}

.animals {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 30px;
}

.animal-card {
display: grid;
margin-bottom: 30px;
grid-template-columns: 100%;
background-color: white;
border-radius: 20px;
overflow: hidden;
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.animal-card:hover img {
transform: rotate(20deg) scale(1.4);
}

.animal-card-text {
    padding: 20px 25px;
}

.animal-card-text h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.8em;
}

.animal-card-text small {
    color: #919191;
}

.animal-card-text p {
    margin: .8rem 0;
    padding: 0;
    line-height: 1.5;
}

.animal-card-photo {
    order: 1;
    grid-row: 1;
    overflow: hidden;
}

.animal-card-photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease-in-out;
}

.primary-btn {
    background: linear-gradient(#d147d1, #702acb);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.primary-btn:hover {
    background: linear-gradient(#e35ea7, #d82eb9);
}

.only-large-screen {
    display: none;
}

@media screen and (min-width: 768px) {
    .animal-card {
        grid-template-columns: 200px 1fr;
    }

    .hero h1 {
        font-size: 6rem;
    }

    .only-large-screen {
        display: inline;
    }

    .animals {
        padding: 0;
    }
}